@model Domain.DadosCliente.Usuario 
@{
    ViewData["Title"] = "Cadastro";
}

<div class="container">
    <h1>Cadastro de cliente</h1>
    <form action="/Loja/Conta/Cadastrar/" method="post" id="formCadastroCliente">
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

