@model IEnumerable<Domain.Produto.Livro>
<div class="container">
    @if (Model != null)
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mt-3 text-center">
                    <div class="col-12">
                        @if (item.Nome.Length > 25)
                        {
                            <label>@(item.Nome.Substring(0, 25) + "...")</label>
                        }
                        else
                        {
                            <label>@item.Nome</label>
                        }
                    </div>
                    <div class="w-100 h-75">
                        <a href="Loja/Home/Produto/@item.Id">
                            <img src="@item.CaminhoImagem" alt="Imagem do produto" title="@item.Nome" class="img-thumbnail">
                        </a>
                    </div>
                    <p class="mt-4"><a class="btn btn-secondary" href="/Loja/Carrinho/AdicionarItem/@item.Id" role="button">Adicionar ao carrinho</a></p>
                </div>
            }
        </div>
    }
    <hr>
</div> <!-- /container -->