@model IEnumerable<Domain.Negocio.Pedido>
@{
    ViewData["Title"] = "Vendas";
}

<h1>Vendas</h1>

@await Html.PartialAsync("_vendas", Model)
@await Html.PartialAsync("_modalMensagem")

@section Scripts{
    <script src="~/js/gerencial/venda/venda.js"></script>
}