<!--modal mensagem-->
<div class="modal" tabindex="-1" role="dialog" id="modalMensagem" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem</h5>
            </div>
            <div class="modal-body text-center">
                <p id="textoModal">@ViewBag.Mensagem</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnOkModal" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>