<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    @RenderSection("Styles", required: false)
    <title>Gerencial - @ViewData["Title"]</title>
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="gerencial.html">Gerencial</a>
        <ul class="navbar-nav px-3 col-md-9 text-right">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-white disabled" href="">Olá Vinicius</a>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="logingerencial.html">Sair</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="gerencial.html">
                                <span data-feather="bar-chart-2"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gerenciallivros.html">
                                <span data-feather="book"></span>
                                Livros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gerencialestoque.html">
                                <span data-feather="database"></span>
                                Estoque
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gerencialtrocas.html">
                                <span data-feather="shopping-cart"></span>
                                Trocas
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
                <footer class="container text-center mt-3">
                    <p>&copy; Code EZ 2020</p>
                </footer>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery-v3.4.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>