@model Domain.Produto.Livro
@{
    ViewData["Title"] = "Edição de livro";
}
@section Styles{
    <link rel="stylesheet" href="css/form-validation.css">
}

<div class="container">
    @await Html.PartialAsync("_produto", Model)
</div>

@section Scripts{
    <script src="~/js/form-validation.js"></script>
}