<nav class="nav flex-column">
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/">Home</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/MeusPedidos">Pedidos</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/DadosPessoais">Dados pessoais</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/Enderecos">Endereços</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/DadosPagamento">Dados de pagamento</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/Cupons">Cupons</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/MinhasTrocas">Trocas</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/AlterarSenha">Alterar senha</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/InativarConta">Inativar conta</a>
</nav>