<nav class="nav flex-column">
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/">Home</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/MeusPedidos">Pedidos</a>
    <a class="nav-link text-white bg-secondary" href="dadospessoais.html">Dados pessoais</a>
    <a class="nav-link text-white bg-secondary" href="enderecos.html">Endereços</a>
    <a class="nav-link text-white bg-secondary" href="dadospagamento.html">Dados de pagamento</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/Cupons">Cupons</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/MinhasTrocas">Trocas</a>
    <a class="nav-link text-white bg-secondary" href="alterarsenha.html">Alterar senha</a>
</nav>