<nav class="nav flex-column">
    <a class="nav-link text-white bg-secondary" href="minhaconta.html">Home</a>
    <a class="nav-link text-white bg-secondary" href="/Loja/MinhaConta/MeusPedidos">Pedidos</a>
    <a class="nav-link text-white bg-secondary" href="dadospessoais.html">Dados pessoais</a>
    <a class="nav-link text-white bg-secondary" href="enderecos.html">Endereços</a>
    <a class="nav-link text-white bg-secondary" href="dadospagamento.html">Dados de pagamento</a>
    <a class="nav-link text-white bg-secondary" href="cupons.html">Cupons</a>
    <a class="nav-link text-white bg-secondary" href="trocas.html">Trocas</a>
    <a class="nav-link text-white bg-secondary" href="alterarsenha.html">Alterar senha</a>
</nav>