@model Domain.DadosCliente.Usuario

@{
    ViewData["Title"] = "Dados pessoais - Detalhes";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 pl-0">
            @await Html.PartialAsync("_menu")
        </div>
        <div class="col-md-9">
            <h4>Dados pessoais</h4>
            @await Html.PartialAsync("_usuarioDadosPessoais")
            <a href="/Loja/MinhaConta/EditarDadosPessoais/" class="btn btn-primary mb-2">Editar</a>
        </div>
    </div>
</div> <!-- /container -->
@await Html.PartialAsync("_modalMensagem")
@section Scripts{
    <script src="~/js/loja/minhaconta/dadosPessoais.js"></script>
}
