@model Domain.DadosCliente.Endereco
@{
    ViewData["Title"] = "Endereço - Edição";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 pl-0">
            @await Html.PartialAsync("_menu")
        </div>
        <div class="col-md-9">
            <h4>Meu endereço</h4>
            <form action="/Loja/MinhaConta/EditarEndereco/" method="post">
                <input type="hidden" name="TipoEndereco" value="@Model.TipoEndereco" />
                @await Html.PartialAsync("_endereco", Model)
                <button type="submit" class="btn btn-success mb-2">Salvar alterações</button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
@await Html.PartialAsync("_modalMensagem")

@section Scripts{
    <script src="~/js/loja/minhaconta/detalhes-endereco.js"></script>
}
