@model IEnumerable<Domain.Negocio.Notificacao>
@{
    ViewData["Title"] = "Minha Conta";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 pl-0">
            @await Html.PartialAsync("_menu")
        </div>
        <div class="col-md-9">
            <h4>Notificações</h4>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row bg-light border border-success align-middle mb-2 mensagem">
                        <div class="col-md-6"><label class="float-left mb-0 tituloNotf">@item.Titulo</label></div>
                        <div class="col-md-6"><label class="float-right mb-0 dataNotf">@item.DataCadastro</label></div>
                        <input type="hidden" class="inputDescricao" value="@item.Descricao" />
                        <input type="hidden" class="inputId" value="@item.Id" />
                    </div>
                }
            }
            else
            {
                <p>Você não possui notificações no momento.</p>
            }
        </div>
    </div>
</div> <!-- /container -->
@await Html.PartialAsync("_modalMensagem")
@section Scripts{
    <script src="~/js/loja/minhaconta/index.js"></script>
}
