@model IEnumerable<Domain.Negocio.Troca>
@{
    ViewData["Title"] = "Detalhes do Pedido";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 pl-0">
            @await Html.PartialAsync("_menu")
        </div>
        <div class="col-md-9">
            <h4>Minhas solicitações de troca</h4>
            @await Html.PartialAsync("_trocas", Model)
        </div>
    </div>
</div> <!-- /container -->
@await Html.PartialAsync("_modalMensagem")

@section Scripts{
    <script src="~/js/loja/minhaconta/minhas-trocas.js"></script>
}
